@font-face {
    font-family: "elpepe";
    src: url("../src/fonts/TheGirlNextDoor-Regular.ttf");
}

h1{
    font-family: "elpepe";
}

#img {
    background-color: gold;
}
.font{

    font-family: "elpepe";
}

.color{
    background-color: blanchedalmond;
}